<!-- <ion-content> -->
    <!-- <div slot="fixed">
      <h1>Fixed Content</h1>
    </div> -->
<div class="list_sorting-panel">
  <ion-segment (ionChange)="segmentKindChanged($event)" color='secondary' value="all">
    <ion-segment-button value="all">
      <ion-label>Wszystko</ion-label>
    </ion-segment-button>
    <ion-segment-button value="food">
      <ion-label>Jedzenie</ion-label>
    </ion-segment-button>
    <ion-segment-button value="cosmetics">
      <ion-label>Kosmetyki</ion-label>
    </ion-segment-button>
    <ion-segment-button value="other">
      <ion-label>Inne</ion-label>
    </ion-segment-button>
  </ion-segment>
</div>

<div class="list_toolbar">
  <ion-item>
    <ion-button slot="end" size="small" color="secondary">
      <ion-icon name="add"></ion-icon>
      Nowy
    </ion-button>
    <ion-button slot="end" size="small" color="danger" (click)="sortByImportance()">
      <ion-icon name="arrow-up"></ion-icon>
    </ion-button>
  </ion-item>
</div>

<ion-list style="height: 100%; overflow: auto;">
  <ng-container *ngFor="let item of displayShoppingList" >
    <ion-item [color]="setColor(item.priority)">
    <ion-icon slot="start" [name]="getIconName(item.kind)"></ion-icon> 
    <ion-icon slot="end" name="ellipsis-vertical-outline" (click)="presentPopover($event, item)"></ion-icon>
    <ion-label>{{item.name}}</ion-label>
  </ion-item>
  </ng-container>
</ion-list>